/* =============
     navbar section
=============== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__icon img {
  width: 40%;
  height: 60%;
}
.nav__items {
  list-style: none;
  display: flex;
  /* background-color: blueviolet; */
}
.nav__items li {
  font-size: 1.6rem;
  margin-left: 2rem;
  display: inline-block;
  width: 6rem;
  /* word-wrap: ; */
}
